@model List<AppUser>
@{
    ViewData["Title"] = "BannedUserList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card">
    <div class="container">
        <br />
        <div class="card-header clearfix">

            <h4 class="card-title float-left"> Üye Listesi</h4>
            <a href="/User/Index/" class="btn btn-outline-success card-title float-right mr-3 p-2"> Kullancılar </a>


        </div>
        <div class="card-body">
            <table class="table table-bordered">


                <tr>
                    <th width="55%">İsim</th>
                    <th width="20%">Durum</th>
                    <th width="25%">Ban Kaldır</th>
                </tr>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.Name @item.Surname</td>
                        @if (item.Status)
                        {
                            <td>Açık</td>
                        }
                        else
                        {
                            <td>Kapalı</td>
                        }


                        <td><a href="/User/UnbanUser/@item.Id" class="btn btn-outline-success">Ban Kaldır</a></td>
                    </tr>
                }

            </table>
            <br />
        </div>
    </div>
</div>
