
<div class="sidebar" data-color="orange">
    <!--
        Tip 1: You can change the color of the sidebar using: data-color="blue | green | orange | red | yellow"
    -->
    <div class="logo">
        <a href="http://www.creative-tim.com" class="simple-text logo-mini">
            ES
        </a>
        <a href="http://www.creative-tim.com" class="simple-text logo-normal">
            Not-Sözlük
        </a>
    </div>
    <div class="sidebar-wrapper">
        <ul class="nav">
            <li>
                <a href="/Category/Index/">
                    <i class="now-ui-icons design_app"></i>
                    <p>Kategoriler</p>
                </a>
            </li>
            <li>
                <a href="/SubCategory/Index/">
                    <i class="now-ui-icons education_atom"></i>
                    <p>Alt Kategoriler</p>
                </a>
            </li>
            <li>
                <a href="/LessonNote/Index/">
                    <i class="now-ui-icons location_map-big"></i>
                    <p>Ders Notları</p>
                </a>
            </li>
            <li>
                <a href="/User/Index/">
                    <i class="now-ui-icons ui-1_bell-53"></i>
                    <p>Kullanıcılar</p>
                </a>
            </li>
            <li>
                <a href="/Role/Index/">
                    <i class="now-ui-icons users_single-02"></i>
                    <p>Roller</p>
                </a>
            </li>
            <li>
                <a href="~/web/examples/tables.html">
                    <i class="now-ui-icons design_bullet-list-67"></i>
                    <p>İstatistikler</p>
                </a>
            </li>
            <li>
                <a href="~/web/examples/typography.html">
                    <i class="now-ui-icons text_caps-small"></i>
                    <p>Raporlar</p>
                </a>
            </li>
            <li class="active-pro">
                <a href="~/web/examples/upgrade.html">
                    <i class="now-ui-icons arrows-1_cloud-download-93"></i>
                    <p>Çıkış Yap</p>
                </a>
            </li>
        </ul>
    </div>
</div>