@model List<Category>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card">
    <div class="container">
        <br />
        <div class="card-header clearfix">
            <h4 class="card-title float-left"> Kategori Listesi</h4>
        </div>
        <div class="card-body">
            <table class="table table-bordered">
                <tr>
                    <th width="80%">Kategori</th>
                    <th width="20%">İncele</th>
                </tr>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.Name</td>
                        <td><a href="/Guest/Note/SubCategoryList/@item.CategoryID" class="btn btn-outline-success">Alt Kategoriler</a></td>
                    </tr>
                }

            </table>
            <br />
        </div>
    </div>
</div>

