@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card">
    <div class="container">
        <br />
        <div class="card-header ">
            <h4 class="card-title"> Hakkımızda </h4>
        </div>
        <div class="card-body clearfix">
            <div>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Morbi tristique senectus et netus et malesuada fames. Ac tincidunt vitae semper quis lectus nulla at. Quis blandit turpis cursus in hac habitasse. Quam viverra orci sagittis eu volutpat odio facilisis mauris sit. Tristique senectus et netus et malesuada. Sed odio morbi quis commodo odio.
            </div><br />
            <div>
                Fermentum et sollicitudin ac orci. Id venenatis a condimentum vitae sapien pellentesque habitant morbi tristique. Pretium lectus quam id leo in vitae. Posuere sollicitudin aliquam ultrices sagittis orci. Ullamcorper eget nulla facilisi etiam dignissim diam. Nam at lectus urna duis. A diam maecenas sed enim ut. Feugiat nibh sed pulvinar proin gravida hendrerit. Tempus imperdiet nulla malesuada pellentesque. Cras adipiscing enim eu turpis egestas. Augue mauris augue neque gravida in fermentum et sollicitudin ac. Purus sit amet luctus venenatis lectus. Neque volutpat ac tincidunt vitae semper quis lectus. Quis ipsum suspendisse ultrices gravida dictum fusce ut. Tortor aliquam nulla facilisi cras fermentum odio eu feugiat.Tortor vitae purus faucibus ornare suspendisse sed nisi. Semper feugiat nibh sed pulvinar proin gravida hendrerit lectus a. Habitasse platea dictumst vestibulum rhoncus. At lectus urna duis convallis convallis tellus id interdum. Purus non enim praesent elementum facilisis leo.
            </div>
            <br />
            <div class="clearfix">
                <img width="70%" src="~/images/Note.png" class="float-left" />
                <div class="float-right" style="width:28%">
                    <div>
                        Tortor aliquam nulla facilisi cras fermentum odio eu feugiat.Tortor vitae purus faucibus ornare suspendisse sed nisi. Semper feugiat nibh sed pulvinar proin gravida hendrerit lectus a. Habitasse platea dictumst vestibulum rhoncus. At lectus urna duis convallis convallis tellus id interdum. Purus non enim praesent elementum facilisis leo.

                    </div>
                    <br />
                    <div>
                        In fermentum posuere urna nec tincidunt praesent semper feugiat. Sit amet cursus sit amet dictum sit amet justo donec. Et netus et malesuada fames ac turpis egestas maecenas pharetra.
                    </div>

                </div>
            </div>
            <br />
            <div>
                Sapien eget mi proin sed libero enim sed faucibus. Eget nulla facilisi etiam dignissim. Vitae elementum curabitur vitae nunc sed. Auctor augue mauris augue neque. Vivamus at augue eget arcu dictum varius. Eget mi proin sed libero enim sed faucibus. Fusce id velit ut tortor pretium viverra suspendisse potenti nullam. Vel facilisis volutpat est velit egestas dui id. Pretium vulputate sapien nec sagittis aliquam malesuada. Magna fermentum iaculis eu non diam phasellus vestibulum. Non blandit massa enim nec dui nunc. In nisl nisi scelerisque eu ultrices vitae auctor. Eleifend donec pretium vulputate sapien nec sagittis. Eget magna fermentum iaculis eu. Eget duis at tellus at urna condimentum mattis. Elit scelerisque mauris pellentesque pulvinar. Vitae purus faucibus ornare suspendisse sed nisi lacus. Eu feugiat pretium nibh ipsum consequat nisl vel pretium lectus. Habitant morbi tristique senectus et netus et.
            </div>
            <br />
            <div>
                Nulla pharetra diam sit amet nisl suscipit. Interdum posuere lorem ipsum dolor. Dolor sit amet consectetur adipiscing elit pellentesque habitant. Quam quisque id diam vel quam elementum pulvinar. Elit scelerisque mauris pellentesque pulvinar pellentesque habitant morbi tristique senectus. In metus vulputate eu scelerisque felis imperdiet proin. Tortor vitae purus faucibus ornare suspendisse sed nisi lacus. Elit scelerisque mauris pellentesque pulvinar pellentesque. Nunc scelerisque viverra mauris in aliquam sem fringilla ut. Id donec ultrices tincidunt arcu. Id aliquet risus feugiat in ante metus dictum. Massa massa ultricies mi quis hendrerit.
            </div>
            <br />



        </div>
    </div>
</div>

